.round-knob {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  overflow: visible;
}
svg {
  user-select: none;
  margin: 0;
}
svg text {
  pointer-events: none;
  user-select: none;
  cursor: default;
}
svg text::selection {
  background: none;
}
