.round-knob svg {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: ns-resize;
  overflow: visible;
  user-select: none;
  margin: 0;
}
.round-knob svg text {
  pointer-events: none;
  user-select: none;
  cursor: default;
}
.round-knob svg text::selection {
  background: none;
}
.audio-control {
  text-align: center;
}
